{% extends 'app/base.html' %}
{% load static %}
{% block title %}home_improvement_tools{% endblock title %}
{% block external_css %}
<link rel="stylesheet" href="{% static "app/css/laptop.css" %}">
{% endblock external_css %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
    <div class="list-group">
     <a href="{% url 'home_improvement_tools' %}" class="list-group-item list-group-item-action" aria-current='true'>All home_improvement_tools</a>
    <a href="{% url 'home_improvement_toolsdata' 'tools' %}" class="list-group-item list-group-item-action">tools</a>
    <a href="{% url 'home_improvement_toolsdata' 'building_materials' %}" class="list-group-item list-group-item-action">building_materials</a>
    <a href="{% url 'home_improvement_toolsdata' 'hardware' %}" class="list-group-item list-group-item-action">hardware</a>
    <a href="{% url 'home_improvement_toolsdata' 'above_1000' %}" class="list-group-item list-group-item-action ">Above 1000</a> 
    <a href="{% url 'home_improvement_toolsdata' 'below_1000' %}" class="list-group-item list-group-item-action ">Below 1000</a> 
        </div>

        </div>
        <div class="col-sm-8">
            <div class="row">
                {% for product in home_tools_items %}
                <div class="col-sm-4 text-center mb-4">
                    <a href="{% url 'product-detail' product.id %}" class="btn">
                <div class="item">
                    <img src="{{product.product_image.url}}" width=200px height=230px alt="" class="img-fluid img-size">
                    <div class="fm-bold">{{product.title}}</div>
                    <div class="fm-bold">Rs.{{product.discounted_price}}
                    <small class="fw-light text-decoration-line-through">
                        {{product.selling_price}}
                    </small>
                    </div>
                </div>
            </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
